<div class="post" id="post-{{id}}">
    <div class="post-body">
        <div class="post-title">
            <h2>{{title}}</h2>
        </div>
        <div class="post-author">
            <h5>Author: {{author}}</h5>
        </div>
        <div class="post-date">
            <h5>{{date}}</h5>
        </div>
        <div class="post-content">
            <p>{{content}}</p>
        </div>
    </div>
    <div class="post-comments">
        <h3>Comments:</h3>
        <div class="comments"></div>
        <h4>Write a comment:</h4>
        <div class="add-comment"></div>
    </div>
</div>
